html {
    font-size: 62.5%; /* 1rem is 10px */
}

/* Set a default font and background for the body */
body {
  font-family: "Nunito", sans-serif;
  background-color: white;
}

.form-input {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  box-sizing: border-box;
}

.modal-content button{
  background-color: RGB(107, 142, 35);
  color: white;
  padding: 1.4rem 2rem;
  margin: 0.8rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.8rem;
  transition: opacity 0.2s, transform 0.2s;

}

.modal-content button:hover {
  opacity: 0.8;
  transform: scale(0.99);
}

.modal-content .signbtn {
  width: auto;
  padding: 1rem 1.8rem;
  background-color: #11eb97;
  border-radius: 0.8rem;
  transition: opacity 0.2s, transform 0.2s;
}

.modal-content .signbtn:hover {
  opacity: 0.8;
  transform: scale(0.99);
}

.modal-content .submit {
  width: 100%;
  padding: 1.4rem 2rem;
  margin: 1.2rem 0;
  background-color: RGB(107, 142, 35);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: opacity 0.2s, transform 0.2s;
}

.modal-content .submit:hover {
  opacity: 0.8;
  transform: scale(0.99);
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 2.4rem 0 1.2rem 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 1.6rem;
}

.success {
  color: green;
  text-align: center;
}

.password-container{
  position: relative;
  padding-top: 1.6rem;
}

.role-container{
  position: relative;
  padding: 1.6rem 0 1.6rem 0; /* Paddingh top and bottom only */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 6rem;
}

/* Modal Content Box */
.modal-content {
  background-color: white;
  margin: 10% auto 20% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 0.8rem; /* rounded corners consistent with other elements */
  /* stop the corners of the bottom container from sticking out of the modal */
  overflow: hidden;
}

/* The Close Button */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: RGB(255,0,0);
  font-size: 3rem;
  font-weight: bold;
}

/* The Signup Button */
.close {
  position: absolute;
  cursor: pointer;
  right: 3rem;
  top: 1rem;

  /* These three lines shrink the container to the icon size */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1; 
  
  padding: 0.5rem; /* Small padding for a better "hit area" */
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  height: fit-content;
  color: RGB(0,128,0);

}