
/* Set a default font and background for the body */
body {
    font-family: "Nunito", sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/* Style for headers */
h1, h2, h3 {
    color: #333333;
    margin-bottom: 10px;
}

nav {
    background-color: #ffffff;
    padding: px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.nav-logo {
    display: block;
    width: 250px;
    height: 100px;
    background-image: url('../images/FitLife-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav li {
    margin: 0;
}

nav ul a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: inline-block;
    width: 150px;
    padding: 20px 25px;
    background-color: rgb(192, 192, 192);
    border-radius: 8px;
    transition: background 0.2s, transform 0.2s;

}

nav ul a:hover {
    background-color: RGB(107, 142, 35);
    transform: scale(0.95);
}

.navLogin {
    color: black;
    text-align: center;
    text-decoration: none;
    font-style: "Nunito", sans-serif;
    display: inline-block;
    flex-shrink: 0; /* Prevent shrinking */
    width: auto; /* Adjust width to content */
    padding: 20px 25px;
    margin-right: 50px;
    background-color: rgb(192, 192, 192);
    border-radius: 8px;
    border-width: 0px;
    transition: background 0.2s, transform 0.2s;
}

.navLogin:hover {
    background-color: RGB(107, 142, 35);
    transform: scale(0.95);
}

/* Style for homepage image */ 
.hero { 
    max-width: 1100px;
    width: calc(100% - 60px);
    height: 520px;
    margin: 30px auto;

    background-image: url('../images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
} 

/* Wrapper to hold picture and text */ 
.wrapper { 
    text-align: center; 
    color: white; 
} 

/* Centered text box styling */ 
.text-box { 
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: inline-block; 
    padding: 20px 30px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 80%;
    text-align: center;
    color: #111
} 

/* MEDIA */
@media (max-width: 768px){
  .hero{
    height: 360px;
    width: calc(100% - 30px);
    margin: 15px auto;
  }
  .text-box{
    max-width: 92%;
    padding: 16px 18px;
  }
}
